/* This file is for your main application css. */

@import "./phoenix.css";
@import "https://unpkg.com/@artsy/palette@4.14.21/dist/styles.css";


.partnerItem {
  width: 100%;
  padding: 5px;
  font-size: 14;
}

.partnerItem:hover {
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #444444
}